@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<html>
  <head>
    <title>Add Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    

  </head>
  <body>
    <a href="Home/GetMaps">Git</a>
  </body>
</html>
